# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
configuration/
# Other files and folders
.settings/
.idea/
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/tests/.idea
/node_modules
/hardhat.config.js
/package.json
/package-lock.json
/tests/__pycache__
/tests/artifacts
/.deps

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

.DS_Store
/tests/log

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

